{% extends "base.html" %}
{% block content%}

	<h1>{{ category.name }}</h1>
	<a href="{{url_for('editCategory', category_id = category.id)}}">Edit</a>
	<a href="{{url_for('deleteCategory', category_id = category.id)}}">Delete</a>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<strong> {{ message }} </strong>
			{% endfor %}
		{% endif %}
  {% endwith %}

	<a href="{{url_for('newItem', category_id = category.id)}}"><h4>Create New Item</h4></a>

	{% for item in items %}
		<a href="{{url_for('showItem', category_id = category.id, item_id = item.id)}}">
			<h3>{{item.name}}</h3>
		</a>
	{% endfor %}


	<br>
	<br>
	<a href="{{url_for('showCatalog')}}">Go Back</a>




{% endblock %}
