{% extends "base.html" %}
{% block content%}

	<a href="{{url_for('showLogin')}}">Click here to log in</a>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<strong> {{ message }} </strong>
			{% endfor %}
		{% endif %}
  {% endwith %}


	<h1>{{ category.name }}</h1>


	{% if items != [] %}
		{% for item in items %}
			<a href="{{url_for('showItem', category_id = category.id, item_id = item.id)}}">
				<h3>{{item.name}}</h3>
			</a>
		{% endfor %}
	{% else %}
		<br>
		<br>
		<p>No items to display.</p>
		<br>
	{% endif %}
	<br>
	<br>

	<a href="{{url_for('showCatalog')}}">Go Back</a>




{% endblock %}
